extends layout 

block content 

    h1(class="my-4")=title

    form(method="POST")
    
        div(class="row my-3")
            div(class="col-md-6")
                label(for="name") Name 
                input(type="text" class="form-control" id="name" name="name" placeholder="Pet's name" required)
            div(class="col-md-6")
                label(for="type") Pet Type
                select(id="type" class="form-control" name="type" required)
                    option(value="" selected disabled hidden) -- type --
                    option(value="dog") dog 
                    option(value="cat") cat 
        
        div(class="row my-3")
            div(class="col-md-4")
                label(for="date_of_admittance") Admittance Date
                input(type="date" class="form-control" id="date_of_admittance" name="date_of_admittance" placeholder="YYYY/MM/DD" required)
            div(class="col-md-4")
                label(for="age") Age
                select(id="age" class="form-control" name="age" required)
                    option(value="" selected disabled hidden) -- age --
                    option(value="young") young
                    option(value="mature") mature
                    option(value="old") old
            div(class="col-md-4")
                label(for="domesticated") Domesticated
                select(id="domesticated" class="form-control" name="domesticated" required)
                    option(value="" selected disabled hidden) -- choose here --
                    option(value="true") yes
                    option(value="false") no

        div(class="row my-3")
            div
                label(for="summary") Summary 
                textarea(class="form-control" rows="4" name="summary" placeholder="Description of pet..." required)
        
        button(class="btn btn-primary my-3" type="submit") Submit
        



                
